@import url('https://fonts.cdnfonts.com/css/calculator');

body{
    background-color: rgb(44, 134, 82);
}

#Calculator {
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 300px;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    background:#212121;
    border-radius: 15px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 15px;
}
#OutputScreen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color:white;
    font-family: 'Calculator', sans-serif;
    height: 80px;
    width: 260px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.7);
    border-radius: 15px;
    margin: 20px auto 5px auto;
    background: #3B3B3B;
}
.current{
    font-size: 40px;
    margin-right: 5px;
}

.previous {
    font-size: 30px;
    margin-right: 5px;
}

#secondGrid{   
    margin: 10px 15px 15px 17px;
}

button{
    background: #686868;
    color: white;
    border-radius: 50px;
    font-size: 25px;
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
    margin: 2px;
    margin-top: 5px;
}

.btnnumber:hover{
    background-color: rgb(197, 134, 38);
}

.decimal:hover{
    background-color: rgb(197, 134, 38);
}

.btnclear:hover{
    background-color: rgb(235, 81, 81);
}

.btnoperator:hover{
    background-color: rgb(45, 141, 173);
}

.btnequal:hover{
    background-color: rgb(49, 137, 49);
} 

#MadeBy, a{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#span-two {
    grid-column: span 2;
}